:root{
	--C_MAIN:	#4c826b;
	--C_SUB:	#fee39a;
	--C_LIGHT:	#e8ebf1;
	--C_DARK:	#a0b1cd;
}

* {
	margin: 0;
	padding: 0;
	font-family: "IBM Plex Sans JP", sans-serif;
	box-sizing: border-box;
	position: relative;
}

html{
	font-size: clamp(12px, 2vw, 16px);
}

img{
	vertical-align: middle;
}

h1{
	font-size: 3rem;
	font-weight: 200;
	white-space: nowrap;
}

ul{
	margin: 0.5rem 0;
	padding-left: 1rem;

	li{
		position: relative;
	}

	li::marker {
		content: none;
	}

	li::before{
		content: "";
		position: absolute;
		display: block;
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		background: var(--C_DARK);
		position: absolute;
		left: -1rem;
		top: 0.5rem;
	}
}

body::-webkit-scrollbar{
	width: 1rem;
}

body::-webkit-scrollbar-track{
	background-color: var(--C_LIGHT);
}

body::-webkit-scrollbar-thumb{
	background-color: var(--C_DARK);
}

header{
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	background-color: var(--C_MAIN);
	color: var(--C_SUB);
	flex-wrap: wrap;

	> *{
		margin: 0 1rem;
	}

	a, a:hover, a:visited{
		color: inherit;
		text-decoration: none;
	}

	.title-wrap{
		flex: 1;
		height: 7rem;
		display: flex;
		align-items: flex-end;

		h1{
			span.subtitle{
				font-weight: 400;
				padding: 0 1rem;
				font-size: 1.25rem;
			}
		}
	}


	.menu{
		display: flex;
		align-items: center;
		padding: 0.5rem 0;

		li{
			height: 3rem;
			padding: 0 1.5rem;
			line-height: 1.5rem;
			border-right: var(--C_LIGHT) solid 1px;
			user-select: none;
			list-style: none;
		}

		li:first-child{
			border-left: var(--C_LIGHT) solid 1px;
		}

		li:hover{
			color: var(--C_DARK);
		}

		li::before{
			content: none;
		}

	}
}

.main{
	max-width: 96rem;
	margin: 0 auto;
	padding: 1rem;

	> :not(h2, h3){
		padding-left: 1rem;
	}
}

h2{
	margin: 1rem 0;
	padding: 0.5rem;
	font-size: 2rem;
	font-weight: normal;
	color: var(--C_MAIN);
}

h3{
	color: var(--C_LIGHT);
	background-color: var(--C_DARK);
	padding: 0.25rem 1rem;
	margin: 0.5rem 0;
	font-size: 1.5rem;
	font-weight: normal;
	width: 100%;
	
	a, a:hover, a:visited{
		color: inherit;
		text-decoration: none;
	}
}

:not(h2) + h3{
	margin-top: 2rem;
}
			
h4{
	line-height: 2rem;
	width: 100%;
}

h5{
	border-bottom: var(--C_DARK) 1px solid;
	font-weight: bold;
	margin-bottom: 0.5rem;

	div{
		margin-right: 0.5rem;
	}
}

p{
	margin: 0.5rem 0 1rem;
}

section{
	margin: 1rem 0;
	width: 100%;

	/* > :not(h4, h5){
		padding-left: 1rem;
	} */
}

article{
	display: flex;
	margin: 2rem auto 8rem;
	padding: 0 2rem;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem 4rem;
	align-items: center;

	.thumbnail{
		border: var(--C_DARK) 2px solid;
		width: 36rem;
		text-align: center;

		img{
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	.detail{
		min-width: 40rem;
		max-width: 56rem;
		flex: 1;

		.publish{
			text-align: right;
			color: var(--C_DARK);
			line-height: 2rem;
			width: 100%;
		}

		> :not(h3){
			padding-left: 1rem;
		}

	}
}

.justify{
	display: flex;
	justify-content: space-between;
}
