<!DOCTYPE html>
<html lang="js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="src/css/main.css">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@200;300;400;700&display=swap" rel="stylesheet">
	<title>{{ title }} - G-alumi.github.io</title>
</head>
<body>
	<header>
		<div class="title-wrap">
			<a href="./">
				<h1>G-alumi.github.io<span class="subtitle">githubで公開しているもの一覧</span></h1>
			</a>
		</div>
		<ul class="menu">
			<a href="./simutrans_addons.html"><li>simutrans<br>addons</li></a>
			<li>simutrans<br>tools</li>
		</ul>
	</header>
	{%- block content %}{% endblock content %}
</body>
</html>